@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root {
    /* Colors */
    --white-color: white;
    --dark-color: #252525;
    --primary-color: seagreen;
    --secondary-color: #62825D;
    --light-green-color: #E0FBE2;
    --medium-gray-color: #ccc;

    /* Font sizes */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font  weigths */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1500px;
}

html {
    scroll-behavior: smooth;
}

/* Whole site */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 10px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* Navbar */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--secondary-color);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-text{
    align-items: center;
    font-family: "Kodchasan", sans-serif;
    color: var(--white-color);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

header ul li:last-child a{
    outline: solid 1.9px var(--white-color);
    padding: 10px 18px;
    position: relative;
    transition: all 300ms;
}


.navbar .nav-menu .nav-link:hover {
    color: var(--secondary-color);
    background: var(--white-color);
    outline: transparent;
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

.hero-section {
    min-height: 100vh;
    background: var(--secondary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: 3rem;
    color: var(--white-color);
    font-family: "Kodchasan", sans-serif;
}

.hero-section .hero-details .subtitle {
    margin-top: 15px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .subtitle1 {
    margin-bottom: 15px;
    max-width: 70%;
    font-size: 1.8rem;
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
    max-width: 70%;
    margin: 20px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}

/* About */
.about-section {
    padding: 120px 0;
    background: var(--light-green-color);
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-m);

}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

/* gallery */
.gallery-section {
    background: var(--dark-color);
    color: var(--white-color);
    padding: 30px 0 100px;
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}

.gallery-section .gallery-list .gallery-info {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 4 - 110px);
}

.gallery-section .gallery-list .gallery-info .farm-image {
    border-radius: var(--border-radius-m);
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: cover;
}

.gallery-section .gallery-list .gallery-info .name {
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.gallery-section .gallery-list .gallery-info .text {
    font-size: var(--font-size-s);
    font-style: italic;
}

/* developer */
.developer-section {
    padding: 30px 0 100px;
    background: var(--light-green-color);
}

.developer-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.developer-section .developer {
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.developer-section .developer .name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.developer-section .developer-list .dev-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 30px;
    border-radius: 45px;
}

.developer-section .developer .description {
    line-height: 25px;
}

.developer-section .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    opacity: 1;
    background: var(--secondary-color);
}

.developer-section .swiper-slide-button {
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.developer-section .swiper-slide-button:hover {
    color: var(--dark-color);
}

/* member */
.member-section {
    padding: 30px 0 100px;
    background: var(--dark-color);
    color: white;
}

.member-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.member-section .member {
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.member-section .member .name {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
}

.member-section .member-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 45px;
}

.member-section .member .description {
    line-height: 25px;
    font-size: 14px;
    color: #ddd;
}

.member-section .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    opacity: 1;
    background: var(--white-color);
}

.member-section .swiper-slide-button {
    margin-top: -50px;
    color: var(--white-color);
    transition: 0.3s ease;
}

.member-section .swiper-slide-button:hover {
    color: var(--secondary-color);
}


/* footer */
.footer-section {
    padding: 15px 0 23px 0;
    background: #333;
}

.footer-section .section-content {
    font-size: var(--font-size-s);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section .section-content p {
    margin-top: 13.5px;
}

@media  screen and (max-width: 1024px) {
    .gallery-section .gallery-list {
        justify-content: center;
        gap: 60px;
    }

    .gallery-section .gallery-list .gallery-info {
        width: calc(80% / 2 - 60px);
    }
}

@media  screen and (max-width: 900px) {

    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button{
        color: var(--secondary-color);
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: var(--white-color);

    }

    .navbar .nav-menu  {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: var(--secondary-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .navbar .nav-menu .nav-link:hover {
        color: var(--white-color);
        background: var(--secondary-color);
    }

    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 30px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details .subtitle1 {
        max-width: 100%;
    }

    .hero-section .hero-details .subtitle,.about-section .about-details {
        max-width: 100%;
    }

    .hero-section .hero-details .description {
        max-width: 100%;
    }

    .hero-section .hero-details .button {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        display: none;
    }

    .about-section .section-content {
        gap: 50px;
        flex-direction: column;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .gallery-section .gallery-list {
        justify-content: center;
        gap: 30px;
    }

    .gallery-section .gallery-list .gallery-info {
        width: calc(100% / 1 - 30px);
    }

    .gallery-section .gallery-list .gallery-info .farm-image {
        max-width: 325px;
    }

    .footer-section .section-content {
        font-size: var(--font-size-s);
        align-items: center;
        gap: 15px;
        flex-direction: column;
        text-align: center;
    }
}

@media  screen and (max-width: 640px) { 
    .developer-section .swiper-slide-button {
        display: none;
    }
    
    .member-section .swiper-slide-button {
        display: none;
    }

    .footer-section .section-content {
        font-size: var(--font-size-s);
        align-items: center;
        gap: 15px;
        flex-direction: column;
        text-align: center;
    }
}

